:root {
  --he-color-p: #323ebe;
  --he-hover: #1f2cb3;
  --he-hover-w: rgb(224, 224, 224);
}


.he-btn-white {
  background: none;
  border: none;
  height: 40px;
  color: var(--he-color-p);
  font-weight: 600;
  width: 76px;
}
.he-btn-white:hover {
  background: var(--he-hover-w);
  border-radius: 5px;
}
.he-btn-violet {
  background: var(--he-color-p);
  border: none;
  height: 40px;
  color: white;
  font-weight: 600;
  width: 127px;
  border-radius: 5px;
}
.he-btn-violet:hover {
  background: var(--he-hover);
}

.he-header {
  height: 56px;
  width: 100vw;
  background-color: white;
  position: sticky;
  top: 0;

  .he-sec-header {
    width: 99%;
    max-width: 1240px;
    height: 56px;
    .he-div-left {
      width: 100vw;

      .he-hamburger {
        background: none;
        border: none;
        width: 50px;
        height: 50px;
        svg {
          fill: rgb(85, 85, 85);
        }
        svg:hover {
          fill: rgb(0, 0, 0);
        }
      }
      .he-div-input {
        width: 100%;
        max-width: 420px;
        height: 56px;

        .he-input {
          width: 100%;
          max-width: 420px;
          height: 40px;
          border-radius: 5px;
          border: 0.5px solid rgb(185, 185, 185);
        }
        .he-input:hover {
          border: 0.5px solid rgb(110, 110, 110);
        }
        .he-input[type="search"]:focus {
          outline-style: none;
          border: 2px solid rgb(23, 23, 245);
        }

        button {
          background: none;
          svg {
            fill: rgb(85, 85, 85);
          }
          svg:hover {
            fill: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}

.he-container-prin {
  // aside
  .he-aside-left {
    .he-container-btn {
      .he-hobtn {
        width: 35px;
        height: 35px;
        cursor: pointer;
        fill: rgb(85, 85, 85);
      }
      .he-btn1 {
        .he-hobtn:hover {
          background: rgba(243, 111, 111, 0.178);
          border-radius: 50%;
          svg {
            fill: red;
          }
        }
      }
      .he-btn2 {
        .he-hobtn:hover {
          background: rgba(98, 245, 255, 0.233);
          border-radius: 50%;
          svg {
            fill: rgb(0, 255, 200);
          }
        }
      }
      .he-btn3 {
        .he-hobtn:hover {
          background: rgba(98, 127, 255, 0.267);
          border-radius: 50%;
          svg {
            fill: rgb(34, 7, 190);
          }
        }
      }
      .he-btn4 {
        border: none;
        width: 40px;
        height: 40px;
        background: none;
        font-weight: 800;
        color: rgb(85, 85, 85);
      }
      .he-btn4:hover {
        background: var(--he-hover-w);
        border-radius: 50%;
        color: rgb(53, 53, 53);
      }
    }
  }

  // main

  .he-main {
    .card-body {
      margin-left: 3rem;
      .he-div-prof {
        margin-top: 1.5rem;

        .he-profile {
          text-decoration: none;
          color: rgb(66, 66, 66);
          font-size: 18px;
          cursor: pointer;
        }
        .he-profile:hover {
          color: var(--he-hover);
        }
      }
      .he-btn-hash {
        cursor: pointer;
        margin-right: 10px;
      }
      .he-btn-hash:hover {
        background: var(--he-hover-w);
        border: 0.2px solid rgb(170, 170, 170);
        border-radius: 5px;
      }
    }
  }

  // aside right

  .he-title {
    margin-left: 80px;

    text-decoration: none;
    color: black;
    font-weight: 700;
  }
  #he-choose {
    margin: 15px;
    text-decoration: none;
    color: black;
  }
  #he-choose:hover {
    color: #1f2cb3;
  }
  .he-card-foot {
    small {
      margin-left: 15px;

      color: rgb(82, 82, 82);
    }
  }
}
@media (min-width: 768px) {
  .he-aside-left {
    position: sticky;
    top: 75px;
    align-self: flex-start;
  }
  .he-aside-right {
    position: sticky;

    top: 56px;
    align-self: flex-start;
  }
}
@media (max-width: 768px) {
  .he-container-btn {
    display: flex;
    height: fit-content;
    width: 100%;

    justify-content: space-around;
  }
  .he-aside-left {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-color: white;
    position: sticky;
    z-index: 1;
    bottom: 0;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
}
